<h1>Welcome</h1>
<p>This is the home page using Bootstrap layout.</p>

<div class="row">
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Bootstrap Card</h5>
            <p>Use Bootstrap classes freely.</p>
            <a class="btn btn-primary" routerLink="/about">Learn more</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Material Button</h5>
            <button mat-raised-button color="primary" routerLink="/material-demo">Material demo</button>
        </div>
    </div>
</div>